
        {{>header}}
        <h1>{{title}}</h1>
        <p>Created by: {{name}}</p>

        <form>
            <input placeholder="location" />
            <button>Submit</button>
        </form>
        {{>footer}}
<script src="/js/app.js"></script>    