<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
        
    </head>
    <body>
<h1>Static header.hbs Text</h1>
<div>
    <a href="/">Home</a>
    <a href="/about">About</a>
</div>